{% extends 'base.html' %}



{% block content %}
{% load static %}
<h1>hello world</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe similique, non corporis labore iusto, et tempora odio
	aspernatur aliquid cumque incidunt at nemo, atque possimus quia dicta nihil adipisci aperiam! Qui id ipsa minus dicta
	quis delectus distinctio aperiam, perspiciatis, architecto ratione incidunt necessitatibus fugiat laboriosam deserunt
	explicabo obcaecati. Ut dolorem inventore nostrum temporibus quam ipsa delectus magnam quis a, minima sed accusamus,
	veniam tempora modi maxime molestias quos omnis quidem rerum culpa. Praesentium alias voluptas ratione quo nisi vero,
	totam culpa in possimus necessitatibus labore corporis porro delectus consectetur, dolorem aspernatur eum assumenda.
	Accusamus doloribus illum debitis illo vitae!</p>

<img src="{% static 'download.jpg' %}" alt="My image">

{% endblock %}